node_modules
.deno_dir
**/.deno_dir
.local/

# Model files
*.pt

# Output
.output
.vercel
.netlify
.wrangler
.svelte-kit
.vite
build

# Database
.sqlite3
utils/postgres/data/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Nats
*.creds

# Arango Data
utils/arangodb/data/

# Generated build artifacts
generated/contracts/dist/
generated/rust/sdks/*/target/
generated/rust/sdks/*/flycheck0/
**/npm/
*.tgz

# Rust build artifacts
rust/target/
